.contRev{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'ABeeZee';
    color:white;
    gap: 1.2rem;
    height: 100%;
    background-color: rgba(14, 9, 78, 0.055);
    h2{
        font-size: 30px;
        padding: 0;
        margin: 0;
        
    }
    span{
        font-size: 20px;
    }
}

.review__title {
    padding: 0.5rem;
}

.textare{
    height: 100px;
    width: 300px;
}
.btnEdit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 120px;
    font-size: 20px;
    align-items: center;
    gap: 1rem;
    color: aliceblue;
    background-color: rgb(35, 35, 99);
    border: none;
    border-radius: 10px;
    transition: all ease-in 1s;
    cursor: pointer;
}
.btnEdit:hover{
    background-color: aliceblue;
    color: rgb(35, 35, 99);
}

.emoticon {
    font-size: 20px;
    color: #23263B;
}
.rating{
    background: linear-gradient(to bottom, rgba(213, 213, 223, 0.39), rgb(46, 56, 201)); 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 2px rgb(13, 16, 207) !important;
    width: 100%;
}