.contRev{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'ABeeZee';
    color:white;
    gap: 1.2rem;
    h2{
        font-size: 30px;
        padding: 0;
        margin: 0;
        
    }
    span{
        font-size: 20px;
    }
}

.review__title {
    padding: 0.5rem;
}

.textare{
    height: 100px;
    width: 300px;
}
.btnEdit {
    display: flex;
    height: 30px;
    width: 90px;
    font-size: 20px;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.emoticon {
    font-size: 20px;
    color: #23263B;
}