.container-login{
    display:flex;
    flex-direction:column;
    background-image:url('../../Assets/images/Login.jpg');
    height:100vh;
    align-items:center;
    background-position: center;
    background-size: cover;
    padding-top: 20px;
}
.card-login{
    background-color: rgba(10, 36, 57, 0.50);
    height:90vh;
    width: 50vw;
    border-radius:20px;
    display: flex;
    flex-direction:column;
    align-items:center;
}
.login-1{
    display:flex;
    color: white;
    font-size:30px;
    font-family:ABeeZee;
    align-items:center;
    flex-direction:row;
    gap: 20rem;
}

.login-2{
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
}
.login-2 input{
    height:7vh;
    width: 40vw;
    border: 1px solid white;
    border-radius:10px
}
.login-2 input :focus{
    outline: none;
    border: 1px solid white
}
.login-2 button {
    height:5vh;
    border-radius: 9px;
    border: 1px solid #23263B;
    background-color:#23263B;
    color: white;
    font-size: 20px;
    font-family: ABeeZee;
    cursor: pointer;
}
.card-button{
    display:flex;
    padding-right:1200px;
}
.btn-login{
    display:flex;
    width: 8vw;
    height:6vh;
    background-color:rgba(10, 36, 57, 0.50);
    border-radius: 10px;
    border:1px solid rgba(10, 36, 57, 0.50);
    cursor:pointer;
    color:white;
    font-size:20px;
    align-items: center;
    padding-left:20px;
}
