.containerLogin{
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  background-color: transparent;
  height: 100vh;
  width: 100%;
  background-color: transparent;

}
.contenedor{
  display: flex;
  flex-direction: column;
  align-content: center;
  
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  
}
.titleInput{
  background-color: transparent;
  width: 100% !important;
  padding: 20px;

}
.cardLogin{
  margin-top: 10px;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgb(211, 214, 221), rgba(40, 30, 182, 0.322));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
}
.login1{
  display:flex;
  color: white;
  font-family:ABeeZee;
  align-items:center;
  flex-direction:row;
  gap: 20rem;
  h1{
    font-size:40px;
  }
}

.login2{
  font-size: 18px;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 90%;
  padding: 5px 40px;
  gap: 1rem;
}
.login2 h4 {
  margin: 0;
  padding: 0;
}
.login2 input{
  height:7vh;
  width: 40vw;
  border: 1px solid white;
  border-radius:10px
}
.login2 input :focus{
  outline: none;
  border: 1px solid white
}
.login2 Button {
  height:5vh;
  border-radius: 9px;
  border: 1px solid #23263B;
  background-color:#23263B;
  color: white;
  font-size: 20px;
  font-family: ABeeZee;
  cursor: pointer;
}
.link{
  background-color: transparent;
  width: 100%;
  text-decoration: none;
  color: white;
  padding: 1px 20px;
}
// .cardButton{
//   position: relative;
//   display:flex;
//   background-color: aquamarine !important;
//   padding-right:1000px;
// }
.btnLogin{
  display:flex;
  width: 8vw;
  height:6vh;
  background: blue;
  border-radius: 10px;
  border:1px solid rgba(10, 36, 57, 0.50);
  cursor:pointer;
  color:white;
  font-size:20px;
  align-items: center;
  padding:5px 20px;
  transition: all ease-in-out 1s;
}
.btnLogin:hover{
  background-color: aliceblue;
  color: blue;
}
.login3{
  display:flex;
  padding-top: 15px;
  align-items: center;
  flex-direction: row;
  gap:2rem
}


.login3 Button{
  height:50px;
  width:200px;
  border:1px solid #23263B;
  background-color: #23263B;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  color:white;
  font-size:15px;
  border-radius:5px
}
.span{
  font-size:40px;
}
.title2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}