.locationContainer {
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  background-color: transparent;
  height: 40vw;
}
.Cities{
  position: relative;
  width: 25%;
  padding: 5px;
  background-color: transparent;
  height: 100%;
}
.img_mapa{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:100px;
  height:100px;
  border-radius: 20px;
}
.divIMG{
  background-color: transparent;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.title_cities{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: rgb(75, 70, 70);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.segundo_title{
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: rgb(66, 62, 62);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.locationContainer__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #0a0046;
  width: 100%;
  /* background-color: green; */
}

.mapContainer {
  position: relative;
  width: 70%;
  height: 90%;
  margin: 1rem 0;
  box-shadow: 2px 2px 20px gray;
  border-radius: 10px;
  z-index: 0;
}
