@use '../../config/styles/colors.scss' as color;

.containerGeneral{
      background-color: rgba(217, 226, 226, 0.63);
      height: 100%;
      width: 100%;
      border-style: none;
}

.container{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
    

      .formContainer{
            background: linear-gradient(to bottom, rgb(83, 129, 236), rgba(40, 30, 182));
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 50px 0px;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;
            text-align: center;
            padding: 20px;
            border-width: 1px;
            border-color: rgb(166, 166, 170);
            border-style: ridge;
            box-shadow: 2px 2px 20px rgb(117, 112, 112), -2px 2px 20px rgb(231, 231, 240);
            .personalData{
                  display: flex;
                  flex-direction: row;
                  gap: 50px;
                  input{
                        width: 100%;
                  }
            }
            label{
                  color: color.$black;
            }
            select{
                  border: 1px solid rgb(92, 92, 92);
                  height: 25px;
                  width: 30%;
                  border-radius: 4px;
                  padding: 0px 20px;
            }
      }


      //ESTILOS RELACIONADOS CON EL BOTON SUBMIT
      .disable{
           
            margin-top: 15px;
            width: 150px;
            height: 35px;
            background-color: rgb(46, 209, 100);
            border: none;
            border-radius: 8px;
            font-weight: bold;
            color: white;
            cursor:pointer;
            transition: all ease-in-out 1s;
      }
      .disable:hover{
      color: rgb(46, 209, 100);
      background-color: azure;
      }
            
      .warning{
            color: rgb(199, 33, 33);
            font-weight: bold;
      }


}
.textfield{
      margin: 15px !important;
      border-radius: 10px;
      border-width: 1px !important;
      border-color: rgb(79, 79, 211) !important;
      border-style: ridge !important;
      
}
.optionC{
 color: blue;
 background-color: rgba(26, 26, 214, 0.226);

}
.titleP{
      font-size: 20px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: rgb(21, 21, 97);
}
.Backdiv{
 padding: 10px;
 margin-top: 20px;    
}
.Back{
      // background-color: blue;
      //       margin-top: 15px;
      //       margin-right: 15px;
      //       width: 150px;
      //       height: 35px;
      //       border: none;
      //       border-radius: 8px;
      //       font-weight: bold;
      //       color: white;
      //       padding: 10px 25px;
      //       cursor:pointer;
      //       transition: all ease-in-out 1s;
      display:flex;
  width: 8vw;
  height:6vh;
  background: linear-gradient(to bottom, rgb(83, 129, 236), rgba(40, 30, 182));
  border-radius: 10px;
  border:1px solid rgba(10, 36, 57, 0.50);
  cursor:pointer;
  color:white;
  font-size:20px;
  align-items: center;
  padding:5px 20px;
  transition: all ease-in-out 1s;
}

.Back:hover{
      color: blue;
      background: azure;
}
.Cont{
      background-color: transparent;
}