.container {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  /* background-color: rgba(71, 73, 80, 0.178); */
  border-radius: 1px;
  border-bottom-style: double;
  border-top-style: double;
  border-color: rgba(13, 13, 167, 0.849);
}

.container_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text_shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: rgb(17, 17, 77);
}
.text_total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: rgb(231, 231, 238);
  background-color: rgba(8, 25, 119, 0.815);
  border-radius: 5px;
  text-shadow: 1px 1px 2px black;
  height: 30px;
}

.btn_comprar {
  margin-left: 20%;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border-bottom-style: double;
  border-top-style: double;
  height: 40px;
  color: blanchedalmond;
  text-shadow: 1px 1px 2px rgb(19, 101, 168);
  border-color: rgba(15, 55, 235, 0.233);
  background-color: rgba(8, 25, 119, 0.973);
  transition: all ease-in 0.5s;
}
.btn_comprar:hover {
  color: rgba(8, 25, 119, 0.973);
  text-shadow: 1px 1px 2px rgb(97, 131, 216);
  border-color: rgba(75, 90, 156, 0.233);
  background-color: rgba(187, 190, 207, 0.801);
}

.btn_quitar{
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
  border-bottom-style: double;
  border-top-style: double;
  height: 40px;
  color:blanchedalmond;
  text-shadow: 1px 1px 2px black;
  border-color: rgba(226, 168, 176, 0.233);
  background-color: rgba(223, 46, 23, 0.863);
  transition: all ease-in 0.5s;
}
.btn_quitar:hover{
  color: rgb(231, 7, 7);
  text-shadow: 1px 1px 2px rgb(223, 205, 201);
  border-color: rgba(83, 43, 48, 0.233);
  background-color: rgba(236, 186, 173, 0.589);
}
