.container {
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    
}

.text_shop{
    
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
  color:rgb(17, 17, 77);
}