.stock{
    position: relative;
    width: 40%;
    height: 20px;
    text-align: center;
    background-color: #d32f2f;
    color: white;
    font-size: 14px;
}
.stock::before{
    position: absolute;
    right: -10px;
    border-top: 10px solid #d32f2f;
    border-bottom: 10px solid #d32f2f;
    border-left: 10px solid #d32f2f;;
    border-right: 10px solid transparent;
    content: "";
}