.contClient{
    display:flex;
    flex-direction:column;
    gap: 3rem;
}

.contButton{
    display:flex;
    flex-direction: row;
    justify-content: center;
    border-bottom-width: 1px;
    border-bottom-style: ridge;
    padding-bottom: 20px;
    border-color: rgba(16, 7, 58, 0.164);
    gap:.3rem;
    align-items:center;
    
    button{
        border: 1px solid #fafafa;
        background-color:#fafafa;
        font-size:16px;
        color:#23263B;
        font-family: 'ABeeZee';
        cursor:pointer;
        &:hover{
            background-color:rgba(86, 88, 92, 0.123);
            border: 1px solid rgba(86, 88, 92, 0.123);
            border-radius:4px
        }
    }
}
.btn{
    font-size:16px;
}