body {
  margin: 0;
  padding: 0;
  
}

.containerHome {
  display: flex;
  flex-direction: column;
  background-color: rgba(86, 88, 92, 0.123);
  color: #23263b;
  font-family: inter;
}

.containerInfo3 {
  display: flex;
  font-size: 14px;
  padding-top: 20px;
}

.containerInfo4 {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
  /* background-color: rgba(255, 0, 0, 0.459);  */
  padding-left: 10px;
}
.prodct{
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.164); */
}
.nuevo h2 {
  font-size: 34px;
 
}

.card {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding: 40px;
  gap: 3rem;
}
.paginado_home {
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
