body {
  margin: 0;
  padding: 0;
}

.containerHome {
  display: flex;
  flex-direction: column;
  color: #23263b;
  font-family: inter;
}

.containerInfo3 {
  display: flex;
  font-size: 14px;
  padding-top: 20px;
}

.containerInfo4 {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
}

.nuevo h2 {
  font-size: 34px;
}

.card {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding: 40px;
  gap: 3rem;
}
.paginado_home {
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
