.contFav {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding: 10px;
    gap: 3rem;
}
.contCard {
    box-shadow:20px 10px 25px rgba(3, 12, 54, 0.459), -20px -20px 35px rgb(215, 213, 224);
    // background:linear-gradient(to top, #ebe3da18,rgba(76, 75, 85, 0.247));
    min-width: 20vw;
    border-radius: 10px;
}
.delete{
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding:7px;
    .svg {
        font-size: 20px;
    }
}
.parrafo{
    
    padding: 10px;
}
.cardInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #23263B;

    h3 {
        font-family: "ABeeZee";
        font-size: 15px;
    }
    img{
        border-radius: 15px;
        border: none;
        box-shadow: 1px 3px 4px rgba(19, 6, 63, 0.418)
    }
}
.cardInfo1{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
}
.NohayFav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: "ABeeZee";
    color: #23263B;
    padding: 10px;
}