@use "../../config/styles/colors.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 15px;

  Button {
    font-size: 2em;
    background-color: rgba(8, 25, 119, 0.973);
    padding: 10px;
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: rgb(218, 218, 230);
    border-style: inset;
    border-top: none;
    border-left: none;
    border-color: rgb(184, 184, 216);
    cursor: pointer;
    transition: all ease-in 0.5s;
  }

  Button:hover {
    background-color: rgba(217, 217, 224, 0.658);
    color: rgb(6, 6, 114);
    border-color: rgb(15, 15, 148);
  }

  input {
    font-size: 2em;
    padding: 10px;
    width: 30%;
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in 0.5s;
  }

  span {
    text-align: center;
    font-size: 1rem;
  }
}
