$container-bg : #0A0046;
$second-container-bg : #F4F4F5;
$black : #23263B;
$violet : #7879F1;/*
Debo crear los carteles con los errores,
Pero primero debo acceder al response para tener el mensaje que devuelve la API
*/