@use "../../config/styles/colors/" as Color;
.container {
    display: grid;
    grid-template-columns: 50%  25% 20%;
    gap: 10px;
    img {
        min-height: 300px;
        max-height: 500px;
        width: 100%;
    }
}
.buyContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    .price {
        font-size: 30px;
    }
}
.buttons{
    display: flex;
}
.next{
    border: none;
    width: 70px;
    margin-left: calc(50% - 70px);
    background-color: rgb(93, 93, 158);
    padding: 5px;
    cursor: pointer;
}
.prev{
    border: none;
    width: 70px;
    padding: 5px;
    background-color: rgb(93, 93, 158);
    cursor: pointer;
}
.opinion{
    color: gray;
}
.containerScore{
    margin-left: 10px;
}
@media screen and (max-width:775px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }
}