.contProduc{
    background-color:rgba(86, 88, 92, 0.123);
}
/* .containerProd{
    background-color: aquamarine;
} */
.imG{
    width:200px;
    height:220px;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 2px 3px black;
}
.containerProdInd{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    margin: 10px;
    border-top-style: initial;
}
/* .container_img_des{
    background-color: pink;
} */
.prd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow:20px 10px 25px rgba(3, 12, 54, 0.459), -20px -20px 35px rgb(215, 213, 224);
    /* background:linear-gradient(to top, #ebe3da18,rgba(76, 75, 85, 0.247)); */
    /* border-right-style: inset;
    border-bottom-style: inset;
    border-color: rgba(3, 3, 44, 0.329); */
    margin: 20px;
}
.parrafo{
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(9, 9, 85);

}
.title{
    padding-left: 10px;
    padding-right: 10px;
    display:flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(9, 9, 85);
}
.title2{
    padding-left: 10px;
    padding-right: 10px;
    display:flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(9, 9, 85);
}