.contProduc{
    background-color:rgba(86, 88, 92, 0.123);
}
.containerProd{
    background-color: aquamarine;
}
.imG{
    width:200px;
    height:220px;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 2px 3px black;
}
.containerProdInd{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    margin: 10px;

    background-color: brown;
}
.container_img_des{
    background-color: pink;
}
.prd{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: coral;
    margin: 20px;
}
.title{
    display:flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    background-color: bisque;
    color:rgb(18, 18, 97);
}