.containerInfo1{
    display: flex;
    flex-direction:row;
    color: #23263B;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}

.homeImg{
    display: flex;
    flex-direction:column;
    padding-left: 10px;
    cursor:pointer;
}
.homeSU{
    display: flex;
    flex-direction:row;
    gap: 2rem;
    cursor:pointer;
}
.homeFLC{
    display: flex;
    flex-direction:row;
    gap: 1rem;
    padding-right: 20px;
    cursor:pointer;
}
.containerInfo2 {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
    align-items: center;
}

.selectCP {
    display: flex;
    gap: 3rem;
    
}
.selectCP select {
    height: 5vh;
    width: 7vw;
    border: 1px solid white;
}


.inputS {
    padding-right: 30px;

}

.input_S input {
    height: 5vh;
    width: 30vw;
    padding-left: 10px;

}
.input_S input focus {
    outline: 1px solid white;
}

