.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.footerContent {
  padding: 50px;
  background: #f4f4f5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #23263b;
  height: 110px;
  width: 100%;
}

.footer img {
  height: 85px;
}
