.shopping_container{
    font-size: 2em;
    background-color: rgba(8, 25, 119, 0.973);
    padding: 1px;
    font-size:40px;
    border-radius: 15px;
    width: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    color:rgb(17, 17, 77);
    border-style: inset;
    border-top: none;
    border-left: none;
    border-color: rgb(184, 184, 216);
    cursor: pointer;
    transition: all ease-in 0.5s;
}

.shopping_container:hover{
    background-color: rgba(217, 217, 224, 0.658);
    color:rgb(6, 6, 114);
    border-color: rgb(15, 15, 148);
}
.bolsa{
    color: rgb(218, 218, 230);
    width: 30px;
    font-size: 25px;
}
.bolsa:hover{
    color: blue;
}