.container{
      text-align: center;
      height: 50px;
      width: 270px !important;
      background-color: #fff;
      padding: 10px 0px;
      right: -260px;
      overflow: hidden;
      position: fixed;
      transition: .2s;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.281);

      h1{
            font-size: 20px;
      }
}

.enable{
      right: 40px !important;
      transition: .2s;
}