.container-login{
    display:flex;
    flex-direction:column;
    background-image:url('../../Assets/Images/Login.jpg');
    height:100vh;
    align-items:center;
    background-position: center;
    background-size: cover;
    padding-top: 20px;
}
.card-login{
    background-color: rgba(10, 36, 57, 0.50);
    height:90vh;
    width: 50vw;
    border-radius:20px;
    display: flex;
    flex-direction:column;
    align-items:center;
}
.login-1{
    display:flex;
    color: white;
    font-size:30px;
    font-family:ABeeZee;
    align-items:center;
    flex-direction:row;
    gap: 20rem;
}